.text-input {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  margin-right: 5px;
}

.send-icon:hover {
  cursor: pointer;
}

.enable {
  color: #0084ff;
}

.disabled {
  color: #cccccc;
}

.send-btn {
  background-color: transparent;
  border: none;
}

