<div class="container">
  <div class="chat-wrapper">
    <app-friends
      class="friends-wrapper"
      (onChosenUser)="onChosenUser($event)"
      [friends$]="friends$"
    >
    </app-friends>
    <div class="input-message">
      <div class="message-wrapper">
        <div *ngFor="let message of messages"
             [ngClass]="message.sender === currentUser ? 'isMe' : 'notMe'">
          <div class="message">
            {{message.content}}
          </div>
        </div>
      </div>
      <app-chat-input
        (onSendMessage)="handleOnSend($event)"
        class="input-wrapper">
      </app-chat-input>
    </div>
  </div>

</div>

